canvas_image_test.py
canvas_state.json
Chess.iml
get_squares_between_test.py
highlight_tests.py
promotion_test.py
resized_bishop_white.png
sound_test.py
test_board.py
tests.py
tests2.py
tests3.py
valid_moves_test.py
.idea